*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#app-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.flower{
    position: absolute;
}

.pistil{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.pistil-border{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
}

.petal{
    position: absolute;
    top: 0;
    left: 50%;
}

.crown{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}