/* Variables */

:root{
    --dark-green: #5F7161;
    --light-green: #6D8B74;
    --cream: #EFEAD8;
    --grey: #D0C9C0;
}

/* Generic CSS */

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--light-green);
}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 1.5;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1em;
    text-align: center;
}

h2{
    font-size: 1.75rem;
    font-weight: bold;
    margin: 1rem 0 1rem;
    text-align: center;
}

.full-width-800{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.justify{
    text-align: justify;
}

.link{
    color: var(--light-green);
    text-decoration: none;
    border-bottom: var(--light-green) solid 2px;
}

/* Content CSS */

#content-container{
    width: 100%;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 2rem;
    background-color: var(--cream);
}

@media (min-width: 2560px){
    #content-container{
        max-width: 1920px;
    }
}

header{
    width: fit-content;
    margin: 0rem auto 3rem;
    text-transform: uppercase;
    line-height: 0.9;
    padding: 2rem;
    background-color: var(--grey);
    color: var(--dark-green)
}

#header-title-container{
    margin-bottom: 1rem;
    user-select: none;
}

#header-title-line-1{
    font-size: 4rem;
}

#header-title-line-2{
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;
}

#header-nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.separator{
    font-weight: 900;
}

#content-subcontainer{
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}

