/* Generic CSS */

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

ul{
    padding-left: 1rem;
    margin: 0;
}

/* Variables */

:root{
    /* Colors */
    --light-grey: #e0e0e0;
    --medium-grey: #bdbdbd;
    --dark-grey: #9e9e9e
}


/* Generic classes */

.cursor-pointer{
    cursor: pointer;

    /* Prevents blue highlighting whenever you touch the app on chrome on mobiles. */

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.cursor-wait{
    cursor: wait;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.debug-window{
    position: absolute;
    top:0;
    left:0;
    z-index: 1000000000;
    background: transparent;
    font-size: 1.2rem;
    padding: 1em;
    font-weight: bold;
    color: white;
}

.black-emoji{
    fill: transparent;
    color: transparent;
    text-shadow: 0 0 0 #000000;
}
/* Modal stuff */

.modal-checkbox{
    display: none;
}

.modal-container{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 10000;
}

.modal-background{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 640px;
    max-height: 95%;
    padding: 1em;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5);
    overflow-y: scroll;
}

.modal-title{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.close-modal{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 32px;
    height: 32px;
    border: none;

    padding: 0;
    background: none;
    
    fill: var(--light-grey);
    cursor: pointer;
}

.close-modal svg,
.close-modal label{
    display: block;
    width: 100%;
    height: 100%;
}

.close-modal:hover{
    fill: var(--medium-grey);
}

.close-modal:active{
    fill: var(--dark-grey);
    transform: scale(0.9);
}


/* App CSS */

#app-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

#app-content{
    width: 100%;
    min-height: inherit;
}

/* Nav bar */

#app-nav{
    display: flex;
    position: absolute;
    z-index: 10000;
    top: 24px;
    right: 24px;
    width: fit-content;
    
    flex-direction: column;
    gap: 12px;
}

.app-nav-button{
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.app-nav-button label,
.app-nav-button svg,
.app-nav-button path{
    cursor:pointer;
}

.app-nav-button:active{
    transform: scale(0.9);
}

.app-nav-button svg{
    width: 100%;
    height: auto;
}

/* Reset button */

#reset-button svg{
    fill: none;
    stroke: var(--light-grey);
    stroke-width: 2;
}

#reset-button:hover svg{
    stroke: var(--medium-grey);
}

#reset-button:active svg{
    stroke: var(--dark-grey);
}

/* Volume button */
#volume-button{
    position: relative;
}

#volume-button:active{
    transform: unset;
}

#volume-button:active label{
    transform: scale(0.9);
}

#volume-button label svg{
    fill: var(--light-grey);
}

#volume-button label:hover svg{
    fill: var(--medium-grey);
}

#volume-button label:active svg{
    fill: var(--dark-grey);
}

#volume-button label{
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* Home button */

#home-button{
    display: block;
    text-decoration: none;
    color: black;
    fill: var(--light-grey);
}

#home-button:hover{
    fill: var(--medium-grey);
}

#home-button:active{
    fill: var(--dark-grey);
}

#home-button:visited{
    color: black;
}

/* Info button */

#info-button{
    fill: var(--light-grey);
}

#info-button:hover{
    fill: var(--medium-grey);
}

#info-button:active{
    fill: var(--dark-grey);
}

/* Achievements button */

#achievements-button{
    fill: var(--light-grey);
}

#achievements-button:hover{
    fill: var(--medium-grey);
}

#achievements-button:active{
    fill: var(--dark-grey);
}

/* Info modal */

#info-modal-checkbox:checked ~ #info-modal-container{
    display: block;
}

#info-modal-title{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.info-modal-subtitle{
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.info-modal-text{
    text-align: justify;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

/* Volume modal */

#volume-modal-checkbox:checked ~ #volume-modal-container{
    display: block;
}

.volume-range::-webkit-slider-thumb,
.volume-range::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--medium-grey);
}

.volume-range::-webkit-slider-runnable-track,
.volume-range::-moz-range-track{
    background-color: black;
}

/* Achievements modal */

#achievements-modal-checkbox:checked ~ #achievements-modal-container{
    display: block;
}

/* Achievements */

#achievements-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.achievement-container{
    display: grid;
    width: 100%;
    padding: 1rem;
    border: 2px solid black;

    grid-template-areas: 
        "icon title"
        "icon desc";

    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1rem;
}

.achievement-icon{
    grid-area: 1 / 1 / 3 / 2;
    user-select: none;
}

.achievement-icon svg{
    width: 100%;
}

.achievement-unkwown-icon{
    fill: var(--medium-grey);
}

.achievement-title{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}


.achievement-desc{
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
}

.achievement-pop-up{
    position: absolute;
    background-color: white;
    z-index: 10000;
    width: 100%;
    max-width: 800px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5);
}

